.fondo {
    background: url(../img/header.jpg)  no-repeat ;
    background-size: cover;
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    height: 100%;
    background: url(../img/header.jpg)  center center no-repeat ;
    background-size: cover;
}

.navbar{
    margin-top: -100px;
}

.iconoweb {
    height: 150px;
    width: 150px;
    margin-right: 120px;
    display: block;
    position: relative;		
}

.nav-link{
    color: white;
    text-decoration: none;
}
.nav-link:hover {
    text-decoration: none;
    color: black;
}

.fa {
    padding: 10px;
    font-size: 50px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa:hover {
    color: white;
    text-decoration: none;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-whatsapp {
    background: green;
    color: white;
}.fa-facebook {
    background: blue;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}

.text-image {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 5px;
    margin-left: 40px;
    width: 100%;
}
.texto-header{
    color: white;
    font-size: 40px;
    align-items: center;
    /* background-color: bisque; */
    padding-left: 300px;
}
.texto-header h1{
    font-size: 60px;
}

.btn {
    background-color: yellow;

}